/css
/footer.html
/header.html
/img
/index.html
/latihan1.html
/latihan2.html
/latihan3.html
/latihan4.html
/latihanjs1.html
/latihanjs2.html
/latihanjs3.html
/latihanjs4.html
/latihanjs5.html
/navbar.html
/sidebar.html
/tugas1.html
/tugas2.html